@charset "UTF-8";

/*  BASE STYLES */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #7EA2AA;
    color: #FCEFEF;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

p {
    font-weight: 300;
    font-size: 0.9rem;
}

/* business card container */
.card-container {
    width: 85%;
    background: #9f5e78;
    margin: 50px auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 100px 0;
    flex-flow: column wrap;
    border-left: #303633 4px solid;
    border-bottom: #303633 4px solid;
}

/* profile image styles */
.prof-img-container {
    height: 250px;
    width: 75%;
    background: url('./img/profile-image.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px 30px;
    border-top: #303633 3px solid;
    border-right: #303633 4px solid;
}

/* personal info styles */
.name{
    font-size: 1.3rem;
    font-family: 'Chango', sans-serif;
    margin-top: 20px;
}

.title {
    font-size: 1rem;
    margin-top: 5px;
    font-weight: 600;
}

/* social icons */
.social-container {
    margin-top: 20px;
}

.social-container a {
    text-decoration: none;
}

.social-container i {
    font-size: 2rem;
    margin: 0 13px;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    color: #FCEFEF;
    cursor: pointer;
}

.social-container i:hover {
    color: #7EA2AA;
}

.social-container i:active {
    color: #303633;
}

.social-container i:after {
    color: #FCEFEF;
}



/*  TABLET(ish) STYLES   */
@media only screen and (min-width: 500px) {

    html {
        font-size: 18px;
    }

    body{
        padding: 0 35px;
        text-align: left;
    }

    .card-container {
        flex-flow: row;
        padding: 60px 50px;
        justify-content: center;
        align-items: flex-end;
    }

    .prof-img-container {
        width: 50%;
        height: 350px;
        margin-right: 30px;
    }

    .social-container {
        margin-bottom: 20px;
    }
}

/* DESKTOP(ish) STYLES */
@media only screen and (min-width: 1100px) {

    html {
        font-size: 21px;
    }

    .card-container {
        align-items: center;
        justify-content: flex-start;
    }

    .prof-img-container {
        height: 500px;
        width: 45%;
    }

    .social-container {
        margin-bottom: 0;
    }
}